body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body > header{
    background-color: dodgerblue;
}
body > header > h1{
    color: white;
    margin: 0;
}

header > nav > ul {
    list-style: none;
}

body > header > nav > ul > li > a {
    color: white;
}

body > footer {
    background-color: dodgerblue;
    text-align: center;
}

body > footer > h2 {
    color: white;
    margin:0;
}

form >textarea {
    width: 100%;
}

body > aside {
    width: 70%;
    margin: auto;
}

body > main {
    width: 70%;
    margin: auto;
}